body {
  margin: 10px;
  display: flex;
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

#directory-table {
  margin-top: 15px;
}

#directory-table td,
#directory-table th {
  padding-right: 20px;
  text-align: left;
}

.addbutton {
  display: block;
    width: 100px;
    padding: 10px;
}

input {
  display: block;
    width: 200px;
    padding: 10px;
    margin: 10px 0;
}

table {
  margin: 10px 0;
}

th {
  padding-right: 15px;
}